*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 10px 50px 10px 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}
a {
    text-decoration: none;
    color: black;
}
a:active{
    color:#034BFF; 
}
.Rejoindre{
    background-color: #034BFF;
    width: 200 ;
    height: 29 ;
    border-radius: 5px;
    border: #034BFF;
    padding: 0px 30px 0px 30px ;
}
.Explorer{
    background-color: #C3F85C;
    width: 260;
    height: 63;
    border-radius: 12px;
    padding: 20px 60px 20px 20px ;
}
footer{
    display: inline;
    justify-content: space-around;
    /* background-color: black; */
}
.titre{
    color: #C3F85C;
}
.paragraphe{
    color: #B2BDB3;
}

               /* <h1 style="display: inline-block; margin-left: 20px; margin-right: 20px;">[YouCode]</h1>
                <button style="display: inline-block; margin-right: 20px;" class="btn-Accueil">Accueil</button>
                <button style="display: inline-block; margin-right: 20px;" class="btn-Campus">Campus</button>
                <button style="display: inline-block; margin-right: 20px;" class="btn-Clubs & activité">Clubs & activité</button>
                <button style="display: inline-block; margin-right: 20px;" class="btn-Evénements">Evénements</button>
                <button style="display: inline-block; margin-right: 20px;" class="btn-Conseils aux nouveaux">Conseils aux nouveaux</button>
                <button style="display: inline-block; margin-right: 200px;" class="btn-Contact">Contact</button>
                <button style="display: inline-block; margin-right: 20px;" class="btn-Recherche">⌕</button>
                <button style="display: inline-block; margin-right: 20px;" class="btn-Rejoindre l'aventure">Rejoindre <br> l'aventure</button>*/